<font size="+5">#01. Data Tables & Basic Concepts of Programming</font>

- Book + Private Lessons [Here â†—](https://sotastica.com/reservar)
- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

In [1]:
import pandas as pd

df = pd.read_excel('df_mortality_regions.xlsx')
df.head()

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,Finland,Western Europe,5540718.0,5520314.0,10.125000,42.799999,0,2.225083,8.926763,0,1,0.549860,25.9,53546.0,54394.0,53821.0,55663.0,31.510042
1,Denmark,Western Europe,5792203.0,5818553.0,22.409399,42.299999,0,3.953056,9.006084,0,1,0.571761,27.8,53103.0,55076.0,53805.0,55477.0,25.533773
2,Switzerland,Western Europe,8654618.0,8574832.0,88.334305,43.099998,0,5.583522,9.078127,0,0,0.660001,30.1,66703.0,66888.0,67515.0,77087.0,116.680031
3,Iceland,Western Europe,341250.0,361313.0,8.498200,37.299999,1,1.649335,9.069892,0,1,0.325369,24.1,2229.0,2247.0,2261.0,2321.0,21.445267
4,Netherlands,Western Europe,17134873.0,17332850.0,67.260498,43.200001,0,5.573827,9.059903,0,0,0.522208,27.0,149805.0,152991.0,151547.0,171175.0,114.468414

# Islands

## Number of Islands

In [2]:
df.Island.sum()

20

## Which region had more Islands?

In [3]:
df[['Regional indicator', 'Island']].groupby(by='Regional indicator', sort=True).sum().iloc[-1]

Island    5
Name: Western Europe, dtype: int64

In [4]:
mask_isl = df['Island']>=1
df[mask_isl][['Regional indicator','Island']].groupby('Regional indicator',sort=True).sum().iloc[-1]

Island    5
Name: Western Europe, dtype: int64

In [10]:
df.groupby(by=['Island', 'Regional indicator']).size()

Island  Regional indicator
0       Central and Eastern Europe            17
        Commonwealth of Independent States    12
        East Asia                              5
        Latin America and Caribbean           17
        Middle East and North Africa          16
        North America and ANZ                  2
        South Asia                             5
        Southeast Asia                         6
        Sub-Saharan Africa                    32
        Western Europe                        16
1       East Asia                              1
        Latin America and Caribbean            3
        Middle East and North Africa           1
        North America and ANZ                  2
        South Asia                             2
        Southeast Asia                         3
        Sub-Saharan Africa                     3
        Western Europe                         5
dtype: int64

In [17]:
top_region = df.groupby(by=['Island', 'Regional indicator']).size()[1].sort_values(ascending=False).head(1).index[0]

## Show all Columns for these Islands

In [18]:
mask_reg = df['Regional indicator']== top_region
mask_isl = df['Island']>=1
df[mask_reg & mask_isl]

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
3,Iceland,Western Europe,341250.0,361313.0,8.498200,37.299999,1,1.649335,9.069892,0,1,0.325369,24.10,2229.0,2247.0,2261.0,2321.0,21.445267
14,Ireland,Western Europe,4937796.0,4941444.0,45.303600,38.700001,1,3.188102,9.100494,0,0,0.430625,30.60,NaN,30621.0,30728.0,32271.0,32.320301
16,United Kingdom,Western Europe,67886004.0,66834405.0,108.449501,40.799999,1,5.009473,9.087469,0,0,0.267582,34.07,606874.0,613309.0,600532.0,696705.0,133.313141
22,Malta,Western Europe,441539.0,502653.0,49.599201,42.400002,1,2.822389,9.096670,0,0,0.402808,28.70,3556.0,3672.0,3684.0,4093.0,96.519936
38,Cyprus,Western Europe,875899.0,1198575.0,13.586000,37.299999,1,1.907791,8.967679,0,0,0.174157,29.10,6009.0,5798.0,6218.0,6636.0,60.513317

## Mean Age of across All Islands?

In [19]:
df[mask_isl]['Median age'].mean()

33.76000032424927

In [28]:
df[mask_reg & mask_isl]['Median age'].mean()

39.3

# Female Heads of State

## Number of Countries with Female Heads of State

In [21]:
df['Female head of government'].value_counts()

0    126
1     22
Name: Female head of government, dtype: int64

In [22]:
mask_fem = df['Female head of government']>=1
df[mask_fem]['Country name'].count()

22

In [ ]:
df[['Regional indicator', 'Island']].groupby(by='Regional indicator',

## Which region had more Female Heads of State?

In [23]:
df[['Female head of government','Regional indicator']].groupby('Regional indicator',sort=True).sum().iloc[-1]

Female head of government    6
Name: Western Europe, dtype: int64

In [30]:
top_region = df[['Female head of government','Regional indicator']].groupby('Regional indicator',sort=True).sum().iloc[-1]

In [31]:
top_region

Female head of government    6
Name: Western Europe, dtype: int64

In [32]:
type(top_region)

pandas.core.series.Series

In [34]:
df.columns

Index(['Country name', 'Regional indicator', 'Population 2020',
       'Population 2019', 'COVID-19 deaths per 100,000 population in 2020',
       'Median age', 'Island',
       'Index of exposure to COVID-19  infections in other countries as of March 31',
       'Log of average distance to SARS countries',
       'WHO Western Pacific Region', 'Female head of government',
       'Index of institutional trust', 'Gini coefficient of income',
       'All-cause death count, 2017', 'All-cause death count, 2018',
       'All-cause death count, 2019', 'All-cause death count, 2020',
       'Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average'],
      dtype='object')

In [35]:
df.index

RangeIndex(start=0, stop=148, step=1)

In [36]:
df.shape

(148, 18)

In [37]:
df.Island

0      0
1      0
2      0
3      1
4      0
      ..
143    0
144    0
145    0
146    0
147    0
Name: Island, Length: 148, dtype: int64

In [37]:
df.Island

0      0
1      0
2      0
3      1
4      0
      ..
143    0
144    0
145    0
146    0
147    0
Name: Island, Length: 148, dtype: int64

In [38]:
df.Island.index

RangeIndex(start=0, stop=148, step=1)

In [39]:
df.Island.values

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0])

In [40]:
df.Island.name

'Island'

In [42]:
df.Island.dtype

dtype('int64')

In [33]:
df.__dict__

{'_is_copy': None,
 '_mgr': BlockManager
 Items: Index(['Country name', 'Regional indicator', 'Population 2020',
        'Population 2019', 'COVID-19 deaths per 100,000 population in 2020',
        'Median age', 'Island',
        'Index of exposure to COVID-19  infections in other countries as of March 31',
        'Log of average distance to SARS countries',
        'WHO Western Pacific Region', 'Female head of government',
        'Index of institutional trust', 'Gini coefficient of income',
        'All-cause death count, 2017', 'All-cause death count, 2018',
        'All-cause death count, 2019', 'All-cause death count, 2020',
        'Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average'],
       dtype='object')
 Axis 1: RangeIndex(start=0, stop=148, step=1)
 NumericBlock: [ 2  3  4  5  7  8 11 12 13 14 15 16 17], 13 x 148, dtype: float64
 NumericBlock: [ 6  9 10], 3 x 148, dtype: int64
 ObjectBlock: slice(0, 2, 1), 2 x 148, dtype: object,
 '_item_cache': {'Island': 0      0
  1      0
  2      0
  3      1
  4      0
        ..
  143    0
  144    0
  145    0
  146    0
  147    0
  Name: Island, Length: 148, dtype: int64,
  'Regional indicator': 0          Western Europe
  1          Western Europe
  2          Western Europe
  3          Western Europe
  4          Western Europe
                ...
  143    Sub-Saharan Africa
  144    Sub-Saharan Africa
  145    Sub-Saharan Africa
  146    Sub-Saharan Africa
  147            South Asia
  Name: Regional indicator, Length: 148, dtype: object,
  'Female head of government': 0      1
  1      1
  2      0
  3      1
  4      0
        ..
  143    0
  144    0
  145    0
  146    0
  147    0
  Name: Female head of government, Length: 148, dtype: int64},
 '_attrs': {},
 '_flags': <Flags(allows_duplicate_labels=True)>}

In [28]:
top_region = df[['Female head of government','Regional indicator']].groupby('Regional indicator',sort=True).sum().iloc[-1].name

In [29]:
top_region

'Western Europe'

## Show all Columns for these Countries

In [24]:
mask_countr = df['Regional indicator']== 'Western Europe'
df[mask_fem & mask_countr]

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,Finland,Western Europe,5540718.0,5520314.0,10.125000,42.799999,0,2.225083,8.926763,0,1,0.549860,25.9,53546.0,54394.0,53821.0,55663.0,31.510042
1,Denmark,Western Europe,5792203.0,5818553.0,22.409399,42.299999,0,3.953056,9.006084,0,1,0.571761,27.8,53103.0,55076.0,53805.0,55477.0,25.533773
3,Iceland,Western Europe,341250.0,361313.0,8.498200,37.299999,1,1.649335,9.069892,0,1,0.325369,24.1,2229.0,2247.0,2261.0,2321.0,21.445267
5,Norway,Western Europe,5421242.0,5347896.0,8.042400,39.700001,0,2.675678,8.993008,0,1,0.605656,24.8,40634.0,40716.0,40500.0,41155.0,9.997681
12,Germany,Western Europe,83783945.0,83132799.0,40.331100,46.599998,0,4.837829,9.017697,0,1,0.435435,31.1,929351.0,952295.0,936772.0,1000855.0,73.548416
67,Greece,Western Europe,10423056.0,10716322.0,46.416298,45.299999,0,2.327332,9.025694,0,1,0.124216,32.3,124069.0,119952.0,124538.0,132966.0,95.679260

## Mean Age of across All Countries?

In [58]:
df['Median age'].mean()

31.308219269530415

## Show All Columns for the Country with more deaths due to Covid per 100,000 people

In [67]:
mask_dea = df['COVID-19 deaths per 100,000 population in 2020']==df['COVID-19 deaths per 100,000 population in 2020'].max()

In [68]:
df[mask_dea]

,Country name,Regional indicator,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
19,Belgium,Western Europe,11589616.0,11484055.0,168.495697,41.799999,0,6.343308,9.071179,0,0,0.302762,25.6,109278.0,110341.0,108436.0,128952.0,169.893524

# Achieved Goals

_Double click on **this cell** and place an `X` inside the square brackets (i.e., [X]) if you think you understand the goal:_

- [X] Identify the **Elements of Programming** thanks to the syntax.
- [X] Use `functions` that belongs to external `libraries`.
- [X] Get _the machine to work for you, not against you_.
  - [X] `shift + tab` to ask help to Python.
  - [X] `tab` to ask Python for suggestions.
- [X] Understand that a `dog` doesn't make `miau()`. But, rather `guau()`... the same way a `DataFrame` cannot `fly()` (i.e., `DataFrame.fly()`?).
- [X] All roads lead to Rome; We can achieve the **the same result with different lines of code**.
  - We reproduced a scatterplot using 3 different lines of code.

In [45]:

df.values

array([['Finland', 'Western Europe', 5540718.0, ..., 53821.0, 55663.0,
        31.51004219055176],
       ['Denmark', 'Western Europe', 5792203.0, ..., 53805.0, 55477.0,
        25.53377342224121],
       ['Switzerland', 'Western Europe', 8654618.0, ..., 67515.0,
        77087.0, 116.6800308227539],
       ...,
       ['Rwanda', 'Sub-Saharan Africa', 12952209.0, ..., nan, nan, nan],
       ['Zimbabwe', 'Sub-Saharan Africa', 14862927.0, ..., nan, nan, nan],
       ['Afghanistan', 'South Asia', 38928341.0, ..., nan, nan, nan]],
      dtype=object)

In [46]:

df.values.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [47]:
df.describe()

,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
count,1.470000e+02,1.470000e+02,146.000000,146.000000,148.000000,147.000000,147.000000,148.000000,148.000000,148.000000,147.000000,6.100000e+01,6.200000e+01,6.200000e+01,6.300000e+01,62.000000
mean,5.099745e+07,5.023767e+07,32.990984,31.308219,0.135135,1.754309,9.042569,0.094595,0.148649,0.309721,37.419278,2.624683e+05,2.623526e+05,2.633587e+05,3.077045e+05,111.927431
std,1.683292e+08,1.651070e+08,39.385474,9.335476,0.343029,1.348264,0.379935,0.293648,0.356950,0.170128,8.274183,4.893540e+05,4.902362e+05,4.919374e+05,5.720017e+05,82.399747
min,3.412500e+05,3.613130e+05,0.000000,15.100000,0.000000,0.379029,8.044208,0.000000,0.000000,0.046448,23.200000,2.229000e+03,2.247000e+03,2.261000e+03,2.321000e+03,-26.467947
25%,5.261329e+06,5.197728e+06,1.800075,23.225000,0.000000,0.819732,8.911780,0.000000,0.000000,0.180415,31.880000,3.202700e+04,3.161825e+04,3.259525e+04,3.475500e+04,44.580708
50%,1.167303e+07,1.151310e+07,14.145201,30.850000,0.000000,1.106935,9.059903,0.000000,0.000000,0.285686,36.000000,7.438100e+04,7.691600e+04,7.751800e+04,9.964720e+04,105.636089
75%,3.732636e+07,3.703052e+07,52.568151,39.999999,0.000000,2.342036,9.301097,0.000000,0.000000,0.411821,43.420000,1.712420e+05,1.726130e+05,1.756470e+05,2.579915e+05,172.398190
max,1.439324e+09,1.397715e+09,168.495697,48.200001,1.000000,6.343308,9.726268,1.000000,1.000000,0.905728,65.426000,2.810927e+06,2.839076e+06,2.852747e+06,3.424996e+06,323.475708